body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.rd3t-node {
  cursor: pointer;
}

.rd3t-label__title {
  fill: #000;
}

.rd3t-label__attributes {
  fill: #777;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Center the modal */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Use a percentage width for responsiveness */
  max-width: 800px; /* Maximum width */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items vertically */
}

.modal-member {
  display: flex; /* Use flexbox for member layout */
  align-items: center; /* Center items vertically */
  margin-bottom: 0px; /* Space between members */
}

.modal-member-content {
  min-width: 250px;
}

.modal-member img {
  margin-right: 20px; /* Space between image and text */
  width: 100px; /* Set a fixed width for the image */
  height: auto; /* Maintain aspect ratio */
}

.modal-spouse {
  border-top: #000 solid 2px;
  margin-top: 10px; /* Space between member and spouse */
}

h2.member {
  margin-bottom: 5px;
  margin-top: 0px;
}

h3.spouse {
  margin-bottom: 5px;
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .modal-member {
    flex-direction: column; /* Stack image and text on top of each other */
    align-items: flex-start; /* Align items to the start */
  }

  .modal-member img {
    margin-right: 0; /* Remove margin for stacked layout */
    margin-bottom: 10px; /* Add space below the image */
    width: 80px; /* Adjust image size for smaller screens */
  }

  .modal-content {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p {
  margin-bottom: 8px;
  margin-top: 8px;
}

.pName {
  font-size: large;
}

.hName {
  font-size: small;
}

.supData {
  font-size: x-small;
}